{% load static %}
{% include 'header.html' %}
<div class="site-blocks-cover overlay" style="background-image: url({% static 'images/hero_bg_1.jpg' %});" data-aos="fade" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">
        <h1 class="text-white font-weight-light mb-5 text-uppercase font-weight-bold">Try Our Services</h1>
        <p><a href="{% url 'regpage' %}" class="btn btn-primary py-3 px-5 text-white">Get Started!</a></p>
      </div>
    </div>
  </div>
</div>




<div class="site-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center border-primary">
        <h2 class="font-weight-light text-primary">More Services</h2>
        <p class="color-black-opacity-5">We Offer The Following Services</p>
      </div>
    </div>
    <div class="row align-items-stretch">
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4"><span class="text-primary flaticon-travel"></span></div>
          <div>
            <h3>Engine Oil Replacement</h3>
            <p>While checking the oil level, make sure that your vehicle is cold and on level ground. Open the bonnet and remove the dipstick and the oil filler cap. Position your drain pan beneath the oil drain plug located on the engine block. Unscrew the oil drain plug and let the oil drain.</p>

          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4"><span class="text-primary flaticon-sea-ship-with-containers"></span></div>
          <div>
            <h3>Air Filter Replacement</h3>
                <p>Dirty or damaged air filters reduce the air flow to the engine, changing your car's air-fuel balance. This imbalance can pollute spark plugs, causing the engine to miss or rough idle; increase engine depositions; and cause the 'Service Engine' light to turn on.</p>

          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4"><span class="text-primary flaticon-frontal-truck"></span></div>
          <div>
            <h3>Oil Filter Replacement</h3>
            <p>Position the oil pan under the old filter, then be very careful as you use your oil filter wrench to remove the filter. Use a rag to clean the mounting surface on the engine, and make sure the gasket from the old filter is not stuck to it.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4"><span class="text-primary flaticon-barn"></span></div>
          <div>
            <h3>Brake Pad Servicing</h3>
            <p>Good brake service should include flushing the old brake fluid, adding new, replacing the pads, resurfacing rotors, and adjusting braking mechanisms.</p>

          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4"><span class="text-primary flaticon-platform"></span></div>
          <div>
            <h3>Spark Plug Service</h3>
            <p>Spark plugs serve to ignite this fuel-air mixture. With the battery as the power source, the spark plug converts the electrical energy that comes through the ignition coil and distributor into a spark which ignites the fuel air mixture.</p>

          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
        <div class="unit-4 d-flex"><div class="unit-4-icon mr-4"><span class="text-primary flaticon-car"></span></div>
          <div>
            <h3>Coolant top-up</h3>
            <p>Coolant service involves draining and refilling your vehicle's cooling system with fresh antifreeze. During a coolant system service, your automotive technician will thoroughly inspect your radiator and your engine's cooling system to make sure all is functioning properly.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% include 'footer.html' %}