 {% load static %}

  <header class="site-navbar py-3" role="banner">

    <div class="container">
      <div class="row align-items-center">
        <div class="col-11 col-xl-2">
          <h1 class="mb-0"><label class="text-white h2 mb-0">Go Mechanic</label></h1>
        </div>
        <div class="col-12 col-md-10 d-none d-xl-block">
          <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                <li class="active">
                <li><a href="{% url 'mechanic_change' %}">Change Password</a></li>
                <li><a href="{% url 'mechanic_display' %}">Profile</a></li>
                <li><a href="{% url 'booked_slots' %}">Booked Slots</a></li>
                <li><a href="{% url 'mechanic_logout' %}">Logout</a></li>
              </ul>
            </nav>
          </div>


          <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

      </div>

    </div>

</header>